<div id="loginForm">
  <form>
    <div class="form-group">
      <label for="username">Usuário</label>
      <input type="text" class="form-control" id="username" placeholder="Insira Nome do Usuário">
    </div>
    <div class="form-group">
      <label for="password">Email address</label>
      <input type="password" class="form-control" id="password" placeholder="Insira a senha">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
</div>
<div id="loginActionsSection">
  <h3>Logged Succesfully!</h3>
</div>
<div id="logoutForm">
  <form>
    <div class="form-group">
    </div>
    <button type="submit" class="btn btn-danger">Logout</button>
  </form>
</div>